<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

	<!--
		http://logging.apache.org/log4j/2.x/manual/appenders.html
	
		ConversionPattern format specification
		%d      inserts the date; you can specify the format (%d{yyyy-MM-dd HH:mm:ss,SSS})
		%-5p    inserts the priority log level, 5 characters, left justified
		%c{1}   inserts the name of the class
		%L      inserts the line number
		%m      inserts the user message
		%n      inserts the separator (for example, a new line)
	-->

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p | %m [%C{}:%L]%n"/>
		</Console>
		
		<RollingFile name="FILE" fileName="/var/tmp/inplayrs/api.log"
		             filePattern="/var/tmp/inplayrs/api-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="%d %5p | %m [%C{}:%L]%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Asynclogger name="com.mchange.v2.c3p0" level="info" includeLocation="true">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CONSOLE"/>
		</Asynclogger>
		
		<!-- Must have system property set for hibernate to use slf4j
			 -Dorg.jboss.logging.provider=slf4j
			 https://issues.apache.org/jira/browse/LOG4J2-172 -->
		<Asynclogger name="org.hibernate" level="info" includeLocation="true">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CONSOLE"/>
		</Asynclogger>
	
		<AsyncRoot level="debug" includeLocation="true">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CONSOLE"/>
		</AsyncRoot>
	</Loggers>
  
</Configuration>